####################################################################
# Visual Studo cache/options directory.
####################################################################
/.vs/
UpgradeLog.htm
*.user

####################################################################
# Downloaded build infrastructure.
####################################################################
/.build/
/artifacts/
/korebuild-lock.txt
/global.json
bin/
obj/

####################################################################
# Project lock files.
####################################################################
*.lock.json

####################################################################
# Project user files.
####################################################################
*.xproj.user

####################################################################
# Log files.
####################################################################
*.log

####################################################################
# Generated temporary files.
####################################################################
*.cs~*.TMP
*.bak

####################################################################
# Test result files.
####################################################################
/TestResults/
